* {box-sizing: border-box;}

.img-comp-container {
	position: relative;
}

.img-comp-img {
	position: absolute;
	width: auto;
	height: auto;
	overflow:hidden;
}

.img-comp-img canvas {
	display:block;
	vertical-align:middle;
}

.img-comp-slider {
	position: absolute;
	z-index:9;
	cursor: ew-resize;
	/*set the appearance of the slider:*/
	width: 40px;
	height: 40px;
	background-color: #2196F3;
	opacity: 0.7;
	border-radius: 50%;
}